#name{
    padding: 5px;
    border-style:solid;
    border-collapse: collapse;
    border-width: 1px;
    width: auto;
    

}
#fname{
    border: 0px;
    width: 700px;
    
}
#tel{
    padding: 5px;
    margin-top: 15px;
    border-style:solid;
    border-width: 1px;
    width: 580px;
    float:left;
}

#ftel{
    border: 0px;
    
}

#mail{
    padding: 3.8px;
    margin-top: 15px;
    border-style:solid;
    border-width: 1px;
    margin-left: 610px;
    height: 39.4px;
    width: auto;

}   

#femail{
    border: 0px;
    width: 400px;
}

#rede{
    padding: 5px;
    border-style:solid;
    border-collapse: collapse;
    border-width: 1px;
    margin-top: 15px;
    width: auto;
}

#frede{
    border: 0px;
    
}

#serie {
    padding: 5px;
    margin-top: 15px;
    border-style:solid;
    border-width: 1px;
    width: 580px;
    float:left;
} 

#fserie{
    border: 0px;
}

#turma{
    padding: 3.8px;
    margin-top: 15px;
    border-style:solid;
    border-width: 1px;
    margin-left: 610px;
    height: 39.4px;
    width: auto;
}   

#fturma{
    border: 0px;
}


#dici{
    padding: 5px;
    margin-top: 16px;
    border-style:solid;
    border-width: 1px;
    width: 580px;
    float:left;
    display: block;
}   

#fdici{
    border: 0px;
}

#pro{
    padding: 3.6px;
    margin-top: 16px;
    border-style:solid;
    border-width: 1px;
    margin-left: 610px;
    height: 39.4px;
    width: auto;
}   

#fpro{
    border: 0px;
    width: 300px;
}
/* AQUI COMEÇA ANOTAÇÂO PARA SEMANA */

.semana{
    display: flex;
    column-gap: 22px;
   
}

#iseg{
    height: 75px;
    width: 224px;
}
#iter{
    height: 75px;
    width: 224px;
}
#iqua{
    height: 75px;
    width: 224px;
}
#iqui{
    height: 75px;
    width: 224px;
}
#isex{
    height: 75px;
    width: 224px;
}

/* ALINHA OS TEXTOS*/

h1 {
    text-align: center;
	margin: 10px 0 -17px 0;
	font-size: 1.16em;
	font-weight: normal;
    
}
/* TERMINA SEMANA*/

.trampo{
    
    margin-right: 740px;
    margin-top: 30px;
    display: flex;
    column-gap: 22px;
    text-align: center;
    
   
}
#prov{
    width: 580px;
    height: 200px;
}



#trab{
    width: 630px;
    height: 200px;
    
}
#fundo{
    border-style: solid;
    border-color: #495057;
    border-width: 20px;
    background-color: #495057;
    color: aliceblue;
}
.ultimo{
    text-align: center;
}
#anote{
    width: 1240px;
    height: 200px;

}
#anota{
    width: auto;
}

*{
    background-color: #9b9b9b;
}


   

